[submodule "libs/submodules/PyUserInput"]
	path = libs/submodules/PyUserInput
	url = https://github.com/SavinaRoja/PyUserInput
[submodule "libs/submodules/pyfiglet"]
	path = libs/submodules/pyfiglet
	url = https://github.com/pwaller/pyfiglet
